FRED_KEY=key from FRED API. [https://fred.stlouisfed.org/docs/api/fred/v2/api_key.html]
ALPACA_KEY=key from alpaca API.
ALPACA_SECRET=secret from alpaca API.
DATABASE_URL=your postgres url. postgresql://example_user:example_password@localhost:5432/example_db